.postList {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 60px;
  padding: 0px 36px;
}

.post {
  flex: 0.5;
  margin: 36px;
  padding: 20px 28px;
  background-color: #e7e7e7;
  box-shadow: 0px 4px 8px 2px rgba(13, 13, 13, 0.2);
  border-radius: 4px;
}
