@import "./normalize.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

$white: #fafafa;
$black: #0b0d14;
$symbol: #9dee86;
$lightGray-1: #e7e7e7;
$lightGray-2: #d9d9d9;
$darkGray: #313131;

:root {
  --white-1: #{$white};
  --black-1: #{$black};
  --bg-1: #{$white};
  --color-1: #{$black};
  --symbol-1: #{$symbol};
  --gray-1: #{$lightGray-1};
  --gray-2: #{$lightGray-2};
}

html[data-theme="dark"] {
  --bg-1: #{$black};
  --color-1: #{$white};
  --gray-1: #{$darkGray};
  --gray-2: #{$darkGray};
}
html[data-theme="light"] {
  --bg-1: #{$white};
  --color-1: #{$black};
  --symbol-1: #{$symbol};
  --gray-1: #{$lightGray-1};
  --gray-2: #{$lightGray-2};
}

html,
body {
  min-height: 100vh;
  background-color: var(--bg-1);
  margin: 0px;
}

* {
  color: var(--color-1);
}

.toastui-editor-defaultUI .ProseMirror {
  // background-color: var(--bg-1);
}

.toastui-editor-toolbar span {
  color: white;
}
