@import "./normalize.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

:root {
  --bg-1: #{$white};
  --color-1: #{$black};
  --symbol-1: #{$symbol};
}

html[data-theme="dark"] {
  --bg-1: #{$black};
  --color-1: #{$white};
  // --symbol-1: initial;
}
html[data-theme="light"] {
  --bg-1: #{$white};
  --color-1: #{$black};
  --symbol-1: #{$symbol};
}

html,
body {
  min-height: 100vh;
  background-color: var(--bg-1);
  margin: 0px;
}

* {
  color: var(--color-1);
}

p,
button,
h1,
h2,
h3,
h4,
h5,
h6,
li,
input {
  font-family: "Noto Sans KR", sans-serif;
}
