.darkLogo {
  cursor: pointer;
  display: none;
  [data-theme="dark"] & {
    display: block;
    height: 42px;
    width: auto;
  }
}
.lightLogo {
  cursor: pointer;
  display: block;
  height: 42px;
  width: auto;
  [data-theme="dark"] & {
    display: none;
  }
}

.container {
  display: flex;
  padding: 20px 42px;
  justify-content: space-between;
  align-items: center;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  } // 원래 위치
  50% {
    transform: translateY(-12px);
  } // 위로 20px 점프
}

.moveToTestBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px 4px;

  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    border: 1px solid var(--color-1);
    background-color: var(--symbol-1);
    box-shadow: 0px 2px 0px 1px rgba(15, 15, 15, 0.25);
    transition: transform 0.1s;

    svg {
      fill: var(--dark-1);
    }
  }

  h1 {
    font-size: 18px;
    color: var(--color-1);
    font-weight: bold;
    margin: 0px;
    margin-left: 12px;
  }

  &:hover {
    button {
      animation: jump 0.4s ease-in-out 2;
    }
  }
}
