.container {
  display: flex;
  flex: 1;
  padding: 28px 42px;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  flex: 1;
  padding: 0px;
  margin-left: 80px;
}

.navBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 5px;
  margin-right: 40px;
  cursor: pointer;
  line {
    position: relative;
    top: -9px;
    background-color: var(--symbol-1);
    height: 11px;
    width: 100%;
    padding: 0px 10px;
    z-index: 1;
    border-radius: 100px;
  }
  h1 {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-1);
    z-index: 2;
  }
}

.navBtn[data-selected="false"] {
  opacity: 0.6;
  line {
    background-color: initial;
  }
}

.moveToTestBtn {
  display: flex;
  align-items: center;
  cursor: pointer;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    aspect-ratio: 1/1;
    border-radius: 12px;
    border: 1px solid var(--color-1);
    background-color: var(--symbol-1);
    box-shadow: 0px 2px 0px 1px rgba(15, 15, 15, 0.25);
  }

  h1 {
    font-size: 20px;
    color: var(--color-1);
    font-weight: bold;
    margin: 0px;
    margin-left: 12px;
  }
}
