.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  padding: 0px 60px;
  margin-top: 48px;
}

.orderWrap {
  display: flex;
  margin-right: 48px;
}

.order {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 36px;
  text-decoration: none;
  svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: var(--color-1);
  }
  p {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
  }

  &[data-selected="false"] {
    opacity: 0.6;
  }

  transition: 0.25s;
  &:hover {
    opacity: 1;
  }
}

.createBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--color-1);
  border-radius: 8px;
  padding: 12px 16px;
  background-color: initial;
  text-decoration: none;
  p {
    margin: 0px;
    color: var(--color-1);
  }
  svg {
    fill: var(--color-1);
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  transition: 0.25s;
  &:hover {
    background-color: var(--color-1);
    p {
      color: var(--bg-1);
    }
    svg {
      fill: var(--bg-1);
      color: var(--bg-1);
    }
  }
}
