.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.post {
  width: 900px;
  max-width: calc(100vw - 72px);
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
  @media (max-width: 800px) {
    max-width: calc(100vw - 42px);
  }
}

.title {
  margin: 0px;
  font-size: 34px;
  color: var(--color-1);
  width: 100%;
  margin-bottom: 12px;
}

.infoWrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px;

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.info1 {
  display: flex;
  align-items: center;
  .profileImg {
    width: 28px;
    height: 28px;
    border-radius: 100px;
    margin-right: 12px;
  }
  .userName {
    margin: 0px;
    font-size: 18px;
  }
  .point {
    font-size: 16px;
    margin: 0px 8px;
    opacity: 0.6;
  }
  .day {
    margin: 0px;
    font-size: 14px;
    opacity: 0.6;
  }
  @media (max-width: 800px) {
    margin-bottom: 20px;
  }
}
